/* Variable */


/*****palette rétrochic*****/
/*****https://www.color-hex.com/color-palette/67065*****/

$brand-primary: darken(#a8ff33, 20%); /* Couleur des écritures */

/* Élements fixe */

.pm-height-5vh{height: 5vh;}

h1{

  color: $brand-primary;

}

.update {
  color:#00A600;
}



.trash {
  color:#ce0404;
}

html{min-height: 100%;}

body{

  min-height: 100vh;

}

/*****************************************/

.main{min-height: 95vh}