{# templates/blog/index.html.twig.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}
    <h1>Your lucky number is {{ number }}</h1>

{% endblock %}




