{# templates/emails/registration.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Mot de passe perdu{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12 mt-4 text-center">
                <h1>Veuillez renseigner votre email</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="input-group justify-content-center">
                    {{ form_start(form) }}
                    {{ form_row(form.email, {'label': false}) }}
                </div>
                <div class="input-group justify-content-center">
                    <button type="submit" class="btn btn-primary mt-4 btn-lg round buttonFormation">Envoyer</button>
                </div>
                <div class="input-group justify-content-center">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}
