{% extends 'base.html.twig' %}
{% block title %} Réinitialisation du mot de passe{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 mt-4 text-center">
                <h1>Veuillez entrer un nouveau mot de passe</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="input-group justify-content-center">
                    {{ form_start(form) }}
                    {{ form_row(form.newPassword, {'label': false}) }}

                </div>
                <div class="input-group justify-content-center">
                    <button type="submit" class="btn btn-primary mt-4 btn-lg round buttonFormation">Envoyer</button>
                </div>
                <div class="input-group justify-content-center">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}