{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}

{% block content %}
<div class = "container">
    <div class="jumbotron">
        <h1 class="display-4">Liquidation avant travaux</h1>
        <p>Bonjour {{ user.nickname }}, <br><br>Vous avez demandé un nouveau mot de passe de connexion pour le site Liquidation avant travaux. Pour réinitialiser votre mot de passe cliquez sur le lien suivant :</p>
        <p class="lead">
            {{ url }}
        </p>
    </div>
</div>
{% endblock %}